body {
    background-color: black;
    color:aliceblue;
    font-family: Helvetica, Arial, sans-serif;
}

h1{
    font-size: 22px;
    color: aquamarine;
}

li {
    list-style-type: none;
    font-size: 16px;
    padding-top: 16px;
}

a {
    text-decoration: none;
    color: cornflowerblue;
}

a:hover {
    text-decoration: underline;
}
.back {
    text-align: center;
    
}
.back-button {
    font-size: 20px;
    padding: 20px;
    background-color: aquamarine;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    
}

.back-button:hover {
    background-color: blue;
}